<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IRPodcast-SwiftUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ABD00072E0ECAD000F8D9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ABDFFED2E0ECACF00F8D9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ABDFFFD2E0ECAD000F8D9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
